/* CSS reset */
* {padding: 0; margin: 0;}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}
ul, ol {list-style: none}
input {border: none}
button {border: none}

/* styles */
body {background: #eee}
.globalHeader {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    }
.globalHeader > input {
    flex: 1;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    line-height: 36px;
    }
.globalHeader > button {
    padding: 0 22px;
    border-radius: 4px;
    background: #0282B9;
    color: white;
    }
.globalMain {}
.siteList {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.siteList > li {

    }
.siteList .site {
    margin-bottom: 10px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 0;
    }
.siteList .site > .logo {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    }
.siteList .site > .link {
    font-size: 16px;
    }
.siteList .addButton {

    }
.siteList .site > .icon{
    width: 56px;
    height: 56px;
    color: #000;
    }
.siteList .site > .add{
    margin-top: 8px;
    }



